<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CtrlDwgs.My.MySettings.CtrlDwgsConnectionString" connectionString="Data Source=CTENG01\ENGSQLEXPRESS;Initial Catalog=CtrlDwgs;Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
